<!-- In your tweet_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet List</title>
</head>
<body>
    <h1>All Tweets</h1>
    <a href="{% url 'create' %}">Create a new Tweet</a>

    {% for tweet in tweets %}
        <hr>
        <h2><strong>{{ tweet.user }}</strong></h2>
        <p>
            <strong>Content:</strong> {{ tweet.content }}
        </p>
        <p>
            <strong>Posted:</strong>{{ tweet.created_at }}<br>
            <strong>Updated:</strong>{{ tweet.updated_at }}
        </p>
{#        <div>#}
{#            <p>{{ tweet.tweet_content }}</p>#}
{#            <small>{{ tweet.timestamp }}</small>#}
{#        </div>#}
    {% empty %}
        <p>No tweets have been posted yet.</p>
    {% endfor %}
</body>
</html>